@font-face {
  font-family: "Aroly";
  src: local("Poppins"), url("/Aroly.ttf");
  font-display: swap;
}

body,
html {
  cursor: url("/cursor.svg"), auto;
  scroll-behavior: smooth;
}

a,
button,
.pointer {
  cursor: url("/cursorpointer.svg") 15 0, auto;
}
h1,
h2,
h3,
h4,
h5 {
  color: #fff;
  font-family: "Aroly";
  margin: 0;
}

p,
a,
ul,
li {
  color: #fff;
  font-family: "Consolas";
  margin: 0;
  text-decoration: none;
}

$headingSize: 36px;
$paraSize: 18px;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #85848424;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
